@charset "UTF-8";
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ブレークポイント */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.inner {
  width: 95%;
  margin: 0 auto;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .inner {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .inner {
    width: 90%;
    max-width: 1022px;
  }
}

article > * + * {
  margin: 0;
}

body {
  font: normal normal bold 16px/28px Noto Sans JP;
  color: #333333;
  letter-spacing: 0px;
  opacity: 1;
  /* @include breakpoint(tablet) {
        font: normal normal bold 16px/28px Noto Sans JP;
    }

    @include breakpoint(pc) {
        font: normal normal bold 16px/28px Noto Sans JP;
    } */
}

body h1 {
  font: normal normal bold 32px/43px Noto Sans JP;
}

body h2 {
  font: normal normal bold 30px/41px Noto Sans JP;
}

body h3 {
  font: normal normal bold 28px/37px Noto Sans JP;
}

header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  background-color: #fff;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  header {
    height: 94px;
  }
}

header .header-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .header-flex .logo {
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  header .header-flex .logo {
    height: 47px;
    font-size: 24px;
    line-height: 47px;
  }
}

header .header-flex .logo img {
  display: inline-block;
  width: 30px;
  vertical-align: bottom;
  margin-right: 5px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  header .header-flex .logo img {
    width: 47px;
  }
}

header .header-flex .header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50px;
  height: 150px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin-left: -3%;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 4px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  header .header-flex .header-nav {
    margin-top: 27px;
    margin-left: -5%;
  }
}

@media (min-width: 768px) {
  header .header-flex .header-nav {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30px;
    margin-top: 0;
    opacity: 1;
  }
}

header .header-flex .header-nav li {
  height: 50px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  header .header-flex .header-nav li {
    width: 100px;
    height: 30px;
  }
}

header .header-flex .header-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 50px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  header .header-flex .header-nav li a {
    line-height: 30px;
  }
}

header .header-flex .menu-open {
  top: 70px;
  opacity: 1;
}

header .header-flex .contact-form {
  display: none;
  background: transparent -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(left, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  height: 37px;
  font: normal normal normal 14px/19px Hiragino Kaku Gothic ProN;
  color: #fff;
  line-height: 37px;
  text-align: center;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  header .header-flex .contact-form {
    display: inline-block;
    width: 145px;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  header .header-flex .contact-form {
    width: 250px;
  }
}

header .header-flex .hamburger-btn {
  width: 56px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* margin-right: 5%; */
  position: relative;
  cursor: pointer;
  background: none;
  text-align: center;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  header .header-flex .hamburger-btn {
    display: none;
  }
}

header .header-flex .hamburger-btn span {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 11px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  header .header-flex .hamburger-btn span {
    left: 8px;
  }
}

header .header-flex .hamburger-btn span:nth-child(1) {
  top: 9px;
}

header .header-flex .hamburger-btn span:nth-child(2) {
  top: 18px;
}

header .header-flex .hamburger-btn span:nth-child(3) {
  top: 27px;
}

footer {
  padding: 45px 0 49px;
  text-align: center;
}

footer .footer-title {
  font: normal normal bold 24px/28px Noto Sans JP;
  letter-spacing: 0px;
  display: none;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  footer .footer-title {
    display: block;
  }
}

footer .corporate {
  margin: 24px auto 54px;
  display: none;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  footer .corporate {
    display: block;
  }
}

footer .corporate p {
  display: inline-block;
}

footer .corporate p:first-of-type {
  margin-right: 68px;
}

footer .copyright {
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  footer .copyright {
    font-size: 0.9em;
  }
}

.p-mainvisual {
  padding-top: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 73px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .p-mainvisual {
    padding-top: 222px;
  }
}

@media (min-width: 768px) {
  .p-mainvisual {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-mainvisual .main-img {
  width: 100%;
  height: auto;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .p-mainvisual .main-img {
    max-width: 518px;
    height: auto;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .p-mainvisual .main-img {
    width: 100%;
  }
}

.p-mainvisual .main-img .mainimg1 {
  display: none;
  position: absolute;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-mainvisual .main-img .mainimg1 {
    background-image: url(../img/main1.png);
    background-repeat: no-repeat;
    /*  */
    background-size: cover;
    background-position: top -40px right -55px;
    display: block;
    position: absolute;
    width: 630px;
    height: 680px;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.p-mainvisual .main-img img {
  display: block;
  width: 85%;
  max-width: 518px;
  margin: 0 auto;
  height: auto;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-mainvisual .main-img img {
    height: 420px;
    margin-right: 0;
    margin-left: auto;
    z-index: 10;
  }
}

.p-mainvisual .maintext {
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .p-mainvisual .maintext {
    max-width: 410px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .p-mainvisual .maintext {
    max-width: 380px;
  }
}

.p-mainvisual .maintext h1 {
  line-height: 54px;
  width: 100%;
  margin: 0 auto 30px;
  text-align: center;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-mainvisual .maintext h1 {
    width: 100%;
    text-align: left;
  }
}

.p-mainvisual .maintext p {
  width: 70%;
  margin: 0 auto 40px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .p-mainvisual .maintext p {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .p-mainvisual .maintext p {
    width: 60%;
    margin: 0 0 55px 0;
  }
}

.p-mainvisual .maintext .contact-form {
  background: transparent -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(left, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  height: 37px;
  width: 155px;
  margin: 0 auto;
  font: normal normal normal 14px/19px Noto Sans JP;
  color: #fff;
  line-height: 37px;
  text-align: center;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-mainvisual .maintext .contact-form {
    margin: 0 0 10px 0;
  }
}

.p-features {
  width: 90%;
}

.p-features h2 {
  text-align: center;
  margin-bottom: 13px;
}

.p-features p {
  text-align: center;
}

.p-price {
  background-color: #EEFBFB;
  text-align: center;
  padding-bottom: 71px;
  margin-bottom: 73px;
}

.p-price h2 {
  padding-top: 64px;
  margin-bottom: 21px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-price h2 {
    padding-top: 57px;
  }
}

.p-price table {
  background-color: #fff;
  width: 100%;
  border: 1px solid #00000029;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  border-collapse: collapse;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-price table {
    text-align: left;
  }
}

.p-price table tr td {
  border: 1px solid #00000029;
  padding: 39px 19px;
}

.p-price table tr td:first-child {
  width: 70%;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-price table tr td:first-child {
    width: 35%;
  }
}

.p-price table tr td:nth-child(2) {
  width: 30%;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-price table tr td:nth-child(2) {
    width: 65%;
  }
}

.p-price .notes {
  padding-top: 41px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-price .notes {
    display: none;
  }
}

.p-faq {
  text-align: center;
}

.p-faq h2 {
  margin-bottom: 21px;
}

.p-blog {
  background: #EEFBFB 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  padding-bottom: 91px;
}

.p-blog .blog-innerblock {
  max-width: 1400px;
  margin: 0 auto;
}

.p-blog .blog-innerblock h2 {
  padding: 64px 0 21px;
}

.p-blog .blog-innerblock .blog-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-blog .blog-innerblock .blog-contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-blog .blog-innerblock .blog-contents article {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-blog .blog-innerblock .blog-contents article {
    width: 30%;
    max-width: 380px;
  }
}

.p-blog .blog-innerblock .blog-contents article img {
  width: 100%;
  margin-bottom: 16px;
}

.p-blog .blog-innerblock .blog-contents article p {
  padding: 0 40px 15px 18px;
  text-align: left;
}

.p-blog .blog-innerblock .blog-contents article time {
  display: block;
  text-align: right;
  padding: 0 35px 10px;
  margin: auto 0 0 0;
}

.p-works {
  margin-top: 57px;
  text-align: center;
  margin-bottom: 90px;
}

.p-works h2 {
  margin-bottom: 14px;
}

.p-works article {
  max-width: 320px;
  text-align: left;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  opacity: 1;
  padding-bottom: 40px;
}

.p-works article img {
  width: 100%;
}

.p-works article .works-title {
  margin: 20px 20px 35px;
}

.p-works article .workscontents {
  padding-left: 20px;
}

.p-works .swiper {
  width: 100%;
  margin: 0 auto;
}

.p-works .swiper .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .p-works .swiper .swiper-slide {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (min-width: 768px) {
  .p-works .swiper .swiper-slide {
    -webkit-transform: none;
            transform: none;
  }
}

.p-contact {
  background: transparent -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(100%, #63FBD7), to(#67FFD6)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(left, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 65px;
  padding-bottom: 70px;
}

.p-contact .contact-title {
  color: #fff;
  text-align: center;
}

.p-contact .contact-title p:first-of-type {
  margin: 10px 0 39px;
}

.p-contact .contact-title p:last-of-type {
  margin-bottom: 48px;
}

.p-contact form {
  background-color: #fff;
  padding: 36px 10px 35px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .p-contact form {
    padding: 36px 63px 35px;
  }
}

.p-contact form .form-content label, .p-contact form .form-content .form-label {
  display: inline-block;
  margin: 29px 0 36px;
}

.p-contact form .form-content input, .p-contact form .form-content textarea {
  display: block;
  background: #EEFBFB 0% 0% no-repeat padding-box;
  border-radius: 3px;
  border: 1px solid #E5E5E5;
  width: 100%;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .p-contact form .form-content input, .p-contact form .form-content textarea {
    width: 70%;
  }
}

.p-contact form .form-content .form-label {
  color: #fff;
  margin-left: 26px;
  padding: 5px 19px;
  background: #0C449B 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

.p-contact form .form-content input {
  height: 40px;
}

.p-contact form .form-content textarea {
  width: 100%;
}

.p-contact form label {
  display: block;
  margin: 29px auto 31px;
  text-align: center;
}

.p-contact form .submit-button {
  background: transparent -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(left, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  border: none;
  padding: 9px 55px 9px 49px;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.c-subtitle {
  color: #3BA6C9;
  margin-bottom: 60px;
}

.c-features-contents {
  text-align: center;
  margin: 0 auto 93px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .c-features-contents {
    margin-bottom: 88px;
  }
}

.c-features-contents h3 {
  margin-bottom: 50px;
}

.c-features-contents .flex-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .c-features-contents .flex-contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-features-contents .flex-contents img {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .c-features-contents .flex-contents img {
    margin: 0;
  }
}

.c-features-contents .text-contents {
  width: 70%;
  margin: 0 auto;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .c-features-contents .text-contents {
    max-width: 450px;
  }
}

.c-features-contents .text-contents .text-title {
  font: normal normal normal 24px/48px Noto Sans JP;
  text-align: left;
  margin: 5px auto 54px;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .c-features-contents .text-contents .text-title {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .c-features-contents .text-contents .text-title {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 48px;
  }
}

.c-features-contents .text-contents p {
  width: 80%;
  max-width: 380px;
  margin: 0 auto;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .c-features-contents .text-contents p {
    width: 100%;
    max-width: 500px;
    text-align: left;
  }
}

.c-features-contents .flex-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 768px) {
  .c-features-contents .flex-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.c-accordion {
  width: 100%;
  padding-bottom: 86px;
  text-align: center;
  /* アコーディオン */
  /* アコーディオンのタイトル */
  /* アコーディオンのコンテンツ */
  /* アコーディオンのコンテンツ展開時 */
}

.c-accordion .accordion__item {
  border: 1px solid #E5E5E5;
  opacity: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-bottom: none;
}

.c-accordion .accordion__item:last-of-type {
  border: 1px solid #E5E5E5;
}

.c-accordion .accordion__title, .c-accordion .accordion__content {
  padding: 12px 20px;
  cursor: pointer;
}

.c-accordion .accordion__title {
  position: relative;
}

.c-accordion .accordion__content {
  display: none;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  /* @if $point == wide {
		@media ( min-width: 1025px ) {
			@content ;
		}
	} */
}

@media (min-width: 416px) {
  .c-accordion .accordion__content {
    text-align: left;
  }
}

.c-accordion .accordion__content.is-open {
  display: block;
}
/*# sourceMappingURL=style.css.map */