.p-mainvisual {
    padding-top: 72px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 73px;

    @include breakpoint(tablet) {
        padding-top: 222px;
    }

    @include breakpoint(pc) {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-img {
        width: 100%;
        height: auto;
        
        @include breakpoint(tablet) {
            max-width: 518px;
            height: auto;
            margin: 0 auto;
        }
        @include breakpoint(pc) {
            width: 100%;
        }

        .mainimg1 {
            display: none;
            position: absolute;

            @include breakpoint(pc) {
                background-image: url(../img/main1.png);
                background-repeat: no-repeat;/*  */
                background-size: cover;
                background-position: top -40px right -55px;
                display: block;
                position: absolute;
                width: 630px;
                height: 680px;
                top: 0;
                right: 0;
                z-index: -1;
            }
        }

        img {
            display: block;
            width: 85%;
            max-width: 518px;
            margin: 0 auto;
            height: auto;
            
            @include breakpoint(pc) {
                height: 420px;
                margin-right: 0;
                margin-left: auto;
                z-index: 10;              
            }
        }
    }

    .maintext {

        @include breakpoint(tablet) {
            max-width: 410px;
            margin: 0 auto;
        }

        @include breakpoint(pc) {
            max-width: 380px;
        }
        
        h1 {
            line-height: 54px;
            width: 100%;
            margin: 0 auto 30px;
            text-align: center;

            @include breakpoint(pc) {
                width: 100%;
                text-align: left;
            }
        }

        p {
            width: 70%;
            margin: 0 auto 40px;

            @include breakpoint(tablet) {
                text-align: center;
            }

            @include breakpoint(pc) {
                width: 60%;
                margin: 0 0 55px 0;
            }
        }

        .contact-form {
            background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 10px;
            height: 37px;
            width: 155px;
            margin: 0 auto;

            font: normal normal normal 14px/19px Noto Sans JP;
            color: $white;
            line-height: 37px;
            text-align: center;

            @include breakpoint(pc) {
                margin: 0 0 10px 0;
            }
        }
    }
}