.c-accordion {
  width: 100%;
  padding-bottom: 86px;
  text-align: center;

  /* アコーディオン */
  .accordion__item {
    border: 1px solid #E5E5E5;
    opacity: 1;
    cursor: pointer;
    user-select: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-bottom: none;

    &:last-of-type {
      border: 1px solid #E5E5E5;
    }
  }
  
  /* アコーディオンのタイトル */
  .accordion__title, .accordion__content {
    padding: 12px 20px;
    cursor: pointer;
  }

  .accordion__title {
    position: relative;
  }
  
  /* アコーディオンのコンテンツ */
  .accordion__content {
    display: none;
    background: #F2F2F2 0% 0% no-repeat padding-box;

    
    @include breakpoint(tablet) {
      text-align: left;
    }
  }
  
  /* アコーディオンのコンテンツ展開時 */
  .accordion__content.is-open {
    display: block;
  }

}